// ==================================================
// Mixins
// ==================================================




// Media Queries
// ==================================================

$breakpoints: (
  'small': 600px,
  'medium': 900px,
  'large': 1200px,
);

@mixin respond-to($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @if $value != null {
    @media all and (min-width: $value) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }

}


// z-index
// ==================================================

$z-index: (
  "topbar": 20,
  "nav": 15,
  "masthead": 10,
  "search": 5
);


@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}


